@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');

/* Website Page Settings */
.sitepage {
  background-image: url('../images/mthood.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.sitename {
  font-size: 4em;
}

.homeinfo {
  font-size: 1.5em;
  padding-left: 3em;
  padding-right: 3em;
}

/* Quick Navigation Buttons */
.quicknav {
  position: fixed;
  bottom: .5em;
  right: .5em;
}

/* Navigation Bar Stylings */
.navbar {
   list-style-type: none;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   padding-left: 2.5em;
   padding-right: 2.5em;
   overflow: hidden;
   background-color: #333;
}

ul li {
    float: left;
    margin: 0.5em;
    color: white;
    font-size: 1.5em;
}
ul li a {
    display: block;
    color: #e5e5e5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
ul li a:hover {
    background-color: #778899;
}
/* End of navigation bar stylings */
